<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted my-footer">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.youtube.com/channel/UCD2cNiFTnvsc4tOcjXZqb_Q" target="_blank" class="me-4 text-reset">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.tiktok.com/@mobazy" target="_blank" class="me-4 text-reset">
            <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="https://www.instagram.com/mobazy_llc/" target="_blank" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #625772; color: whitesmoke;">
      Copyright © Mobazy LLC 2024 |
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/" target="_blank">Privacy Policy</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->