<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>Please email me at: <b>alexandervslagle@gmail.com</b></p>
        <a class="btn btn-primary" href="mailto:alexandervslagle@gmail.com">Email Me</a>
        <p></p>
    </div>

    <div class ="list-group shadow">
        <a href="//www.linkedin.com/in/alexslagle/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/LinkedIn.png" width="40" height="40" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

    </div>
</div>