<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link rounded-bottom myNav" routerLink="" [routerLinkActiveOptions]="{exact:true}"  [routerLinkActive]="'active'">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-bottom myNav" routerLink="/about-us" [routerLinkActive]="'active'">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-bottom myNav" routerLink="/contact" [routerLinkActive]="'active'">Contact</a>
            </li>
        </ul>
    </div>
</nav>