<app-project-page [project] = "specificProject"></app-project-page>

<div class ="container">
    <div class="row">
        <div class ="col-sm shadow border m-1 rounded">
            <div class="text-center">
                <h2 style="margin-top: 2%;">Playtesting</h2>
                <p></p>
                <div class ="container">
                    <p style="margin-left:15%; margin-right:15%;">Alex conducted many playtests in the development of Lost Duckling. Playtesting started when the game was a paper prototype until the final build was ready to be released. Playtesting helped inspire new features, discover issues, and improve the game's usability.</p>
                    <img style="margin: 1%;" src="../../assets/Playtests/Dad Playtest.jpg" class="img-fluid rounded" width = "400" height = "auto">
                    <img style="margin: 1%;" src="../../assets/Playtests/EuEe Playtest.jpg" class="img-fluid rounded" width = "400" height = "auto">
                    <img style="margin: 1%;" src="../../assets/Playtests/Jinyi Playtest.jpg" class="img-fluid rounded" width = "400" height = "auto">
                    <img style="margin: 1%;" src="../../assets/Playtests/Yuan Playtest.jpg" class="img-fluid rounded" width = "400" height = "auto">
                </div>
            </div>
        </div>
    </div>    

    <div class="row">
        <div class ="col-sm shadow border m-1 rounded">
            <div class="text-center">
                <h2 style="margin-top: 2%;">Paper Prototypes</h2>
                <p></p>
                <div class ="container">
                    <p style="margin-left:15%; margin-right:15%;">Alex started Lost Duckling as a paper prototype. Using a paper prototype allowed for rapidly testing new features without spending time implementing them in Unity; cutting down development time.</p>
                    <img style="margin: 1%;" src="../../assets/Paper Prototype/4.png" class="img-fluid rounded" width = "400" height = "auto">
                    <img style="margin: 1%;" src="../../assets/Paper Prototype/3.png" class="img-fluid rounded" width = "400" height = "auto">
                    <img style="margin: 1%;" src="../../assets/Paper Prototype/2.png" class="img-fluid rounded" width = "400" height = "auto">
                    <img style="margin: 1%;" src="../../assets/Paper Prototype/1.png" class="img-fluid rounded" width = "400" height = "auto">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class ="col-sm shadow border m-1 rounded">
            <div class="text-center">
                <p></p>
                <div class ="container">
                    <p>A demo of Lost Duckling can be played in your Web Browser <a href="//mobazy.z19.web.core.windows.net/0.0.11/index.html" target="_blank">Play a Demo 👾</a>.</p>                
                    <p><i>Play by using the arrow keys or WASD keys. You may have to zoom out your browser window.</i></p>
                </div>
            </div>
        </div>
    </div>  
</div>