<div class="container">
    <div class="row">
        <!-- Left Column-->
        <div class ="col-lg shadow border m-1 rounded">
            <div class="text-center">
                <h2>Unity Game Developer</h2>
            </div>
            <div class="container">
                <p>Alex Slagle has been developing games with Unity since 2018. Alex founded a company called 
                    <a href="//www.mobazy.com/" target="_blank">Mobazy</a> for publishing his games on the App Stores. 
                </p>

                <p></p><p></p>
                <p>Alex Slagle is a Senior Software Engineer at a global corporation called <a href="//www.emerson.com/en-us/" target="_blank">Emerson</a>.
                    Alex develops services with .NET that are used by major oil companies like Shell and BP, requiring the utmost code quality. 
                </p>
            </div>
        </div>
        <!-- Right Column-->
        <div class ="col-lg shadow border m-1 rounded">
                <div class="container">
            <h2 class="text-center">Qualifications</h2>
            <h4>Education</h4>
            <p><b>Master of Science in Game Design</b> at Full Sail University.</p>
            <p><b>Bachelor of Science in Computer Science</b> at St. Cloud State University.</p>
            <h4>Work Experience</h4>
            <p><b>Senior Software Engineer</b> at Emerson, February 2019-Present.</p>
            <p><b>Game Developer</b> at OVIVO Games, October 2020-May 2021.</p>
        </div>
        </div>
    </div>
</div>